# Statistical Tests - Assignment

In [1]:
import pandas as pd
import numpy as np

In [3]:
import scipy.stats as stats
import math

- A physician is evaluating a new diet for her patients with a family history of heart disease. To test the effectiveness of this diet, 16 patients are placed on the diet for 6 months. Their weights and triglyceride levels are measured before and after the study, and the physician wants to know if either set of measurements has changed. (Data set: dietstudy.csv)

In [2]:
dietstudy = pd.read_csv('D:/Business Analytics/PYTHON/Sufiyan/Assignment/7 - Basic Statistic Case Study - 1/7. Basic Stats - Case Study-1/dietstudy.csv',sep=',')
dietstudy.head()

   patid  age  gender  tg0  tg1  tg2  tg3  tg4  wgt0  wgt1  wgt2  wgt3  wgt4
0      1   45    Male  180  148  106  113  100   198   196   193   188   192
1      2   56    Male  139   94  119   75   92   237   233   232   228   225
2      3   50    Male  152  185   86  149  118   233   231   229   228   226
3      4   46  Female  112  145  136  149   82   179   181   177   174   172
4      5   64    Male  156  104  157   79   97   219   217   215   213   214

#### Test 1 - Does weight changes after the study
- State the null and alternate hypothesis
  - **Ho**: There is no change in weight of the patients
  - **Ha**: There is significant change in the weight of patients
- As we dont know the distribution of data, population mean and sample size is less than 30, we shall use **T test** 
- We will specify the significance level of **0.05**

#### Two Sample T Test

In [29]:
ttest_1w = stats.ttest_rel(a=dietstudy.wgt0,b=dietstudy.wgt4)
t_score = round(ttest_1w.statistic,2)
p_value = ttest_1w.pvalue

In [31]:
print('The P value is {} and the T Score is {}'.format(p_value,t_score))

The P value is 1.137689414996614e-08 and the T Score is 11.17

The last month weight is significantly less than the first month, hence we conclude that in last month, there is a decrease in weight as compared to first month.

#### Test 2 - Does triglyceride changes after the study
- State the null and alternate hypothesis
  - **Ho**: There is no change in triglyceride of the patients
  - **Ha**: There is significant change in the triglyceride of patients
- As we dont know the distribution of data, population mean and sample size is less than 30, we shall use **T test** 
- We will specify the significance level of **0.05**

#### Two Sample T Test

In [32]:
ttest_1t = stats.ttest_rel(dietstudy.tg0,dietstudy.tg4)
t_score = round(ttest_1t.statistic,2)
p_value = ttest_1t.pvalue

In [33]:
print('The P value is {} and the T score is {}'.format(p_value,t_score))

The P value is 0.24874946576903698 and the T score is 1.2

The last month triglyceride is significantly less than the first month, hence we conclude that in last month, there is a decrease in triglyceride as compared to first month.

- An analyst at a department store wants to evaluate a recent credit card promotion. To this end, 500 cardholders were randomly selected. Half received an ad promoting a reduced interest rate on purchases made over the next three months, and half received a standard seasonal ad. Is the promotion effective to increase sales? (Data set: creditpromo.csv)

In [39]:
credit = pd.read_csv('D:/Business Analytics/PYTHON/Sufiyan/Assignment/7 - Basic Statistic Case Study - 1/7. Basic Stats - Case Study-1/creditpromo.csv',sep=',')
credit.head()

     id         insert      dollars
0   148       Standard  2232.771979
1   572  New Promotion  1403.807542
2   973       Standard  2327.092181
3  1096       Standard  1280.030541
4  1541  New Promotion  1513.563200

#### Is the promotion effective to increase sales
- State the null and alternate hypothesis
  - **Ho**: There is no increase in sales after promotion
  - **Ha**: There is significant increase in the sales after promotion
- As we dont know the distribution of data and population mean, we shall use **Independent T test** 
- We will specify the significance level of **0.05**

#### Independent T Test

In [48]:
credit_std = credit[credit['insert']=="Standard"]
a_crd = credit_std.dollars

credit_std = credit[credit['insert']=="New Promotion"]
b_crd = credit_std.dollars

In [51]:
ttest_2 = stats.ttest_ind(a=a_crd,b=b_crd)
t_score = round(ttest_2.statistic,2)
p_value = ttest_2.pvalue

In [52]:
print("The P value is {} and the T score is {}".format(p_value,t_score))

The P value is 0.024225996894147814 and the T score is -2.26

Sales of New Promotion is significantly more than the Standard, hence we can conclude that the promotion was sucessful.

- An experiment is conducted to study the hybrid seed production of bottle gourd under open field conditions. The main aim of the investigation is to compare natural pollination and hand pollination. The data are collected on 10 randomly selected plants from each of natural pollination and hand pollination. The data are collected on fruit weight (kg), seed yield/plant (g) and seedling length (cm). (Data set: pollination.csv)

    **a. Is the overall population of Seed yield/plant (g) equals to 200?**
    
    **b. Test whether the natural pollination and hand pollination under open field conditions are equally effective or are significantly different.**

In [56]:
polli = pd.read_csv('D:/Business Analytics/PYTHON/Sufiyan/Assignment/7 - Basic Statistic Case Study - 1/7. Basic Stats - Case Study-1/pollination.csv',sep=',')
polli.head()

     Group  Fruit_Wt  Seed_Yield_Plant  Seedling_length
0  Natural      1.85            147.70            16.86
1  Natural      1.86            136.86            16.77
2  Natural      1.83            149.97            16.35
3  Natural      1.89            172.33            18.26
4  Natural      1.80            144.46            17.90

#### Test 1 - Is the overall population of Seed yield/plant (g) equals to 200?
- State the null and alternate hypothesis
  - **Ho**: overall population of Seed yield/plant (g) == 200
  - **Ha**: overall population of Seed yield/plant (g) != 200
- As we know that there is only one sample and population mean, we shall use **One Sample T test** 
- We will specify the significance level of **0.05**

#### One Sample T Test

In [62]:
ttest_3a = stats.ttest_1samp(a=polli.Seed_Yield_Plant,popmean=200)
t_score = round(ttest_3a.statistic,2)
p_value = ttest_3a.pvalue

In [63]:
print("The P value is {} and the T score is {}".format(p_value,t_score))

The P value is 0.032891040921283025 and the T score is -2.3

The overall population of Seed yeild/plant(g) is significantly less than 200, hence we can conclude that the overall polpulation is not equal to 200

#### Test 2 - Test whether the natural pollination and hand pollination under open field conditions are equally effective or are significantly different.
- State the null and alternate hypothesis
  - **Ho**: Nalural Pollination and Hand Pollination under open field conditions are equally effictive
  - **Ha**: Nalural Pollination and Hand Pollination under open field conditions are significantly different
- As we dont know the distribution of data and population mean, we shall use **Independent Sample T test** 
- We will specify the significance level of **0.05**

#### Independent Sample T Test

In [69]:
# Independent sample t test with fruit weight(g)
natural = polli[polli['Group']=='Natural']
hand = polli[polli['Group']=='Hand']

ttest_3b_fruit = stats.ttest_ind(a=natural.Fruit_Wt,b=hand.Fruit_Wt)
t_score = round(ttest_3b_fruit.statistic,2)
p_value = ttest_3b_fruit.pvalue

In [70]:
print("The P value is {} and the T score is {}".format(p_value,t_score))

The P value is 8.078362076486221e-13 and the T score is -17.67

In [73]:
# Independent sample t test with Seed Yield Plant
ttest_3b_seed = stats.ttest_ind(a=natural.Seed_Yield_Plant,b=hand.Seed_Yield_Plant)
t_score = round(ttest_3b_seed.statistic,2)
p_value = ttest_3b_seed.pvalue

In [74]:
print("The P value is {} and the T score is {}".format(p_value,t_score))

The P value is 4.2714815854843853e-11 and the T score is -13.96

In [75]:
# Independent sample t test with Seedling Length
ttest_3b_seedlength = stats.ttest_ind(a=natural.Seedling_length,b=hand.Seedling_length)
t_score = round(ttest_3b_seedlength.statistic,2)
p_value = ttest_3b_seedlength.pvalue

In [76]:
print("The P value is {} and the T score is {}".format(p_value,t_score))

The P value is 0.020428817064110226 and the T score is -2.54

Hand pollination and Natural pollination is significantly differently from each other under all measurement.

- An electronics firm is developing a new DVD player in response to customer requests. Using a prototype, the marketing team has collected focus data for different age groups viz. Under 25; 25-34; 35-44; 45-54; 55-64; 65 and above. Do you think that consumers of various ages rated the design differently? (Data set: dvdplayer.csv).

In [77]:
dvd = pd.read_csv('D:/Business Analytics/PYTHON/Sufiyan/Assignment/7 - Basic Statistic Case Study - 1/7. Basic Stats - Case Study-1/dvdplayer.csv',sep=',')
dvd.head()

      agegroup   dvdscore
0  65 and over  38.454803
1        55-64  17.669677
2  65 and over  31.704307
3  65 and over  25.924460
4     Under 25  30.450007

#### Whether consumers of various ages rated the design differently?
- State the null and alternate hypothesis
  - **Ho**: consumers of various ages rated the design equally
  - **Ha**: consumers of various ages rated the design differently
- As we know that there is more than 3 groups, we shall use **ANOVA test** 
- We will specify the significance level of **0.05**

#### Anova Test

In [94]:
a = dvd[dvd['agegroup']=='65 and over'].dvdscore
b = dvd[dvd['agegroup']=='55-64'].dvdscore
c = dvd[dvd['agegroup']=='45-54'].dvdscore
d = dvd[dvd['agegroup']=='35-44'].dvdscore
e = dvd[dvd['agegroup']=='25-34'].dvdscore
f = dvd[dvd['agegroup']=='Under 25'].dvdscore

In [98]:
ftest_4 = stats.f_oneway(a,b,c,d,e,f)
t_score = round(ftest_4.statistic,2)
p_value = ftest_4.pvalue

In [100]:
print("The P value is {} and the F score is {}".format(p_value,t_score))

The P value is 3.087324905679639e-05 and the F score is 6.99

From the above test we can conclude that consumers of different ages rated the design differently.

- A survey was conducted among 2800 customers on several demographic characteristics. Working status, sex, age, age-group, race, happiness, no. of child, marital status, educational qualifications, income group etc. had been captured for that purpose. (Data set: sample_survey.csv).
    
    **a. Is there any relationship in between labour force status with marital status?**
    
    **b. Do you think educational qualification is somehow controlling the marital status?**
    
    **c. Is happiness is driven by earnings or marital status?**

In [101]:
survey = pd.read_csv('D:/Business Analytics/PYTHON/Sufiyan/Assignment/7 - Basic Statistic Case Study - 1/7. Basic Stats - Case Study-1/sample_survey.csv',sep=',')
survey.head()

,id,wrkstat,marital,childs,age,educ,paeduc,maeduc,speduc,degree,...,agecat,childcat,news1,news2,news3,news4,news5,car1,car2,car3
0,1,Working full time,Divorced,2.0,60.0,12.0,12.0,12.0,NaN,High school,...,55 to 64,1-2,No,No,No,No,No,American,Japanese,Japanese
1,2,Working part-time,Never married,0.0,27.0,17.0,20.0,NaN,NaN,Junior college,...,25 to 34,None,No,No,Yes,No,No,American,German,Japanese
2,3,Working full time,Married,2.0,36.0,12.0,12.0,12.0,16.0,High school,...,35 to 44,1-2,No,No,No,Yes,Yes,American,American,NaN
3,4,Working full time,Never married,0.0,21.0,13.0,NaN,12.0,NaN,High school,...,Less than 25,None,No,No,No,Yes,Yes,American,Other,NaN
4,5,Working full time,Never married,0.0,35.0,16.0,NaN,12.0,NaN,Bachelor,...,35 to 44,None,No,No,No,No,No,American,American,Korean

#### Is there any relationship in between labour force status with marital status?
- State the null and alternate hypothesis
  - **Ho**: There is no relationship between labour force status with marital status
  - **Ha**: There is significant relationship between labour force status with marital status
- As both are categorical variable, we shall use **Chi Square Test** 
- We will specify the significance level of **0.05**

#### Chi Square Test

In [111]:
work_marital_a = pd.crosstab(survey.wrkstat,survey.marital,margins=True)

In [112]:
chisq_a = stats.chi2_contingency(observed=work_marital_a)

In [113]:
print("The F score is {} and the p value is {}".format(chisq_a[0],chisq_a[1]))

The F score is 729.2421426572284 and the p value is 1.820339965538765e-127

From the above test we can conclude that there is a strong relationship between labour work force and marital status.

#### Do you think educational qualification is somehow controlling the marital status?
- State the null and alternate hypothesis
  - **Ho**: There is no relationship between qualification with marital status
  - **Ha**: There is significant relationship between qualification with marital status
- As both are categorical variable, we shall use **Chi Square Test** 
- We will specify the significance level of **0.05**

In [116]:
qual_marital_b = pd.crosstab(survey.degree,survey.marital,margins=True)

In [117]:
chisq_b = stats.chi2_contingency(qual_marital_b)
print("The F score is {} and the p value is {}".format(chisq_b[0],chisq_b[1]))

The F score is 122.68449020508541 and the p value is 7.424404099753273e-15

From the above test we can conclude that educational qualification is somehow controlling the marital status.

#### Is happiness is driven by earnings or marital status?
- State the null and alternate hypothesis
  - **Ho**: There is no relationship between earnings with marital status
  - **Ha**: There is significant relationship between earnings with marital status
- As both are categorical variable, we shall use **Chi Square Test** 
- We will specify the significance level of **0.05**

In [118]:
earning_marital_b = pd.crosstab(survey.income,survey.marital,margins=True)

In [119]:
chisq_c = stats.chi2_contingency(earning_marital_b)
print("The F score is {} and the p value is {}".format(chisq_c[0],chisq_c[1]))

The F score is 521.3728471696256 and the p value is 9.061611096588738e-75

From the above test we can conclude that happiness is driven by earnings or marital status.